.col-xs-12.box
    .col-xs-5
        img.m-x-auto(src="/images/triumphRanks/#{triumphScore['tier']}_medium.png",style="padding-top:10px;padding-bottom:10px;")
    .col-xs-7
        h7  triumph score
        h5 #{triumphScore['tier']} #{triumphScore['division']}
        h7 #{wins} - #{losses}
.col-xs-12.box(style="margin-bottom:20px;") 
    .col-xs-6
        h7 # games
        h6 #{games}
    .col-xs-6
        h7 winrate
        h6 #{winrate}
    .col-xs-6
        h7 kda
        h6 #{winrate}
    .col-xs-6
        h7 adj kda 
            span ?
        h6 #{winrate}
          
